:root {
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  min-height: 10rem;
}

button {
  width: fit-content;
  cursor: pointer;
}
