.page {
  --background: #ffffff;
  --secondary-background: #e4eff1;
  --accent-color: #1bc866;

  --text-primary: #000;
  --text-secondary: #fff;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: grid;
  width: 100%;
  max-width: 80rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.projectCard {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  color: var(--text-secondary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.7);
}
