:root {
  --background: #ffffff;
  --secondary-background: #e4eff1;
  --accent-color: #1bc866;

  --text-primary: #000;
  --text-secondary: #fff;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  width: 100%;
  max-width: 80rem;
  padding: 2rem 0rem;
}

/* input styles */
.input {
  width: 30rem;
  max-width: 30rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--button-secondary-border);
  font-family: var(--font-geist-sans);
  border-radius: 0.1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.createProjectForm {
  width: 30rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  position: absolute;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-background);
  padding: 2rem;
}

.createProjectForm button:nth-last-child(1) {
  border: none;
  background: none;
  padding: 0.5rem;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  cursor: pointer;
}

/* Grid styles */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--secondary-background);
  border-radius: 1.5rem;
}

/* Title styles */
.title {
  grid-column: span 3;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-primary);
}

/* Project Card styles */
.projectCard {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  overflow: hidden;
}

.content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  color: var(--text-secondary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.7);
}

/* Navbar styles */
.navbar {
  padding: 0.5rem 2rem;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.navLink {
  list-style: none;
}

.navLink a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
}

.userNavLink {
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--text-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
}

/* admin page styles */
.adminHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* admin card styles */
.adminCardContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adminCard {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  width: 100%;
}

.cardInfo {
  display: flex;
  gap: 1rem;
}

.cardImage {
  width: auto;
  height: 6rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.cardButtons {
  display: flex;
  gap: 0.5rem;
}

.cardButton {
  background-color: none;
  border: none;
  height: fit-content;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
}

/* button styles */
.buttonBase {
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 10rem;
  font-weight: bold;
  font-family: var(--font-geist-sans);
}

.buttonGreen {
  background-color: var(--accent-color);
  color: var(--text-secondary);
  border: none;
}
