:root {
  --background: #ffffff;
  --secondary-background: #e4eff1;
  --accent-color: #1bc866;

  --text-primary: #000;
  --text-secondary: #fff;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  width: 100%;
  max-width: 80rem;
  padding: 2rem 0rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 1rem;
  background-color: var(--secondary-background);
  border-radius: 1.5rem;
}

.title {
  grid-column: span 3;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-primary);
}

.projectCard {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  overflow: hidden;
}

.content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 1;
  color: var(--text-secondary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.7);
}

/* Navbar styles */
.navbar {
  padding: 0.5rem 2rem;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  gap: 1rem;
  padding: 0;
}

.navLink {
  list-style: none;
}

.navLink a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
}

.userNavLink {
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--text-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}
